In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\sunil\OneDrive\Documents\IMDB-Movie-Data.csv')
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [3]:
#How many movies are listed in the titles dataframe?
df['Title'].count()

1000

In [4]:
title_df=df[['Title', 'Year']]
title_df

                       Title  Year
0    Guardians of the Galaxy  2014
1                 Prometheus  2012
2                      Split  2016
3                       Sing  2016
4              Suicide Squad  2016
..                       ...   ...
995     Secret in Their Eyes  2015
996          Hostel: Part II  2007
997   Step Up 2: The Streets  2008
998             Search Party  2014
999               Nine Lives  2016

[1000 rows x 2 columns]

In [5]:
cast_df=df[['Title', 'Actors', 'Year', 'Metascore', 'Genre', 'Votes']]
cast_df

,Title,Actors,Year,Metascore,Genre,Votes
0,Guardians of the Galaxy,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,76.0,"Action,Adventure,Sci-Fi",757074
1,Prometheus,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,65.0,"Adventure,Mystery,Sci-Fi",485820
2,Split,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,62.0,"Horror,Thriller",157606
3,Sing,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,59.0,"Animation,Comedy,Family",60545
4,Suicide Squad,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,40.0,"Action,Adventure,Fantasy",393727
...,...,...,...,...,...,...
995,Secret in Their Eyes,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,45.0,"Crime,Drama,Mystery",27585
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,46.0,Horror,73152
997,Step Up 2: The Streets,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,50.0,"Drama,Music,Romance",70699
998,Search Party,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,22.0,"Adventure,Comedy",4881
999,Nine Lives,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,11.0,"Comedy,Family,Fantasy",12435

In [6]:
#What are the earliest two films listed in the titles dataframe?
df['Year'].nsmallest(2)

64    2006
78    2006
Name: Year, dtype: int64

In [7]:
#How many movies have the title "Hamlet"?
n=df.loc[df['Title']=='Hamlet'].shape
print(n[0])

0

In [8]:
#as this df is a different one, i have counted the recurrences of the only recurring movie
f=df.loc[df['Title']=='The Host'].shape
print(f[0])

2

In [9]:
#no. of movies made in 2007
n=df.loc[df['Year']==2007].shape
n[0]

53

In [10]:
#list of all movies titled 'The Host' from the earliest to most recent
title_df[title_df.Title=='The Host'].sort_values('Year')

        Title  Year
632  The Host  2006
239  The Host  2013

In [11]:
#no. of movies made from 2007 through 2011
len(title_df[(title_df.Year>=2007) & (title_df.Year<=2011)])

279

In [12]:
#what is the metascore of 'Sing'?
cast_df[cast_df.Title=='Sing'].Metascore

3    59.0
Name: Metascore, dtype: float64

In [13]:
#display the cast of 'Prometheus'
cast_df[cast_df.Title=='Prometheus'].Actors

1    Noomi Rapace, Logan Marshall-Green, Michael Fa...
Name: Actors, dtype: object

In [14]:
#List of actors were there in the movie 'Sing'
n=list(cast_df[cast_df.Title=='Sing'].Actors)
n

['Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson']

In [27]:
#how many movies has Matthew McConaughey acted in?
c=cast_df['Actors'].str.contains('Matthew McConaughey', na=False)
l=[]
for i in c:
    if i==True:
        l.append(c)
len(l)

10

In [28]:
#how many 'Drama' movies are here in this database?
d=cast_df['Genre'].str.contains('Drama')
l1=[]
for i in d:
    if i==True:
        l1.append(d)
len(l1)

513